body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

.container {
    position: absolute;
    right: 40px;
    top: 35px;
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background: #E2E4FF;
    padding: 15px;
    border-radius: 12px;
}

.card.small {
    text-align: center;
}

.improvement {
    position: absolute;
    right: 65px;
    top: 606px;
    width: 180px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #E2E4FF;
    padding: 15px;
    border-radius: 12px;
    color: #7bca8d
}

h3 {
    margin-top: 0;
}

label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.row input {
    flex: 1;
}

.toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.switch {
    width: 40px;
    height: 20px;
    background: #d66;
    border-radius: 20px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #b3a8f5;
    cursor: pointer;
}

.card.green button {
    background: #8fd19e;
}

.card.green p {
    margin: 10px 0 0;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

.field label {
    margin: 0;
    font-size: 14px;
}

.field input {
    width: 80px;
}

.field.multi {
    align-items: flex-start;
}

.coords {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.coord-row {
    display: flex;
    align-items: center;
    gap: 5px;
}

.coord-row input {
    width: 80px;
}

.map-wrapper {
    position: absolute;
    top: 35px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}
#map {
    width: 82%;
    height: 90%;
}